**/output_markdown
**/venv
**/env
**/__pycache__
**/*.pyc
.env
.qodo
datasets/*
!datasets/batch_api_pipeline.js
benchmark/general-help/eval_results.json
benchmark/general-help/eval_results.png
benchmark/redteam/redteam_eval_results_*.json
benchmark/redteam/redteam_aggregate_results.json
benchmark/redteam/taxonomy_explorer.html
node_modules
